SELECT 
    u.nome AS usuario,
    a.nome AS ativo,
    o.tipo,
    o.quantidade,
    o.preco_unitario,
    o.valor_total
FROM operacoes o
JOIN usuarios u ON o.usuario_id = u.id
JOIN ativos a ON o.ativo_id = a.id;

SELECT 
    u.nome,
    SUM(o.valor_total) AS total_investido
FROM operacoes o
JOIN usuarios u ON o.usuario_id = u.id
WHERE o.tipo = 'COMPRA'
GROUP BY u.nome;

SELECT 
    u.nome,
    SUM(
        CASE 
            WHEN o.tipo = 'COMPRA' THEN o.valor_total
            WHEN o.tipo = 'VENDA' THEN -o.valor_total
        END
    ) AS total_liquido
FROM operacoes o
JOIN usuarios u ON o.usuario_id = u.id
GROUP BY u.nome;

SELECT 
    u.nome,
    a.nome AS ativo,
    SUM(
        CASE 
            WHEN o.tipo = 'COMPRA' THEN o.quantidade
            WHEN o.tipo = 'VENDA' THEN -o.quantidade
        END
    ) AS saldo
FROM operacoes o
JOIN usuarios u ON o.usuario_id = u.id
JOIN ativos a ON o.ativo_id = a.id
GROUP BY u.nome, a.nome;